In [1]:
import pandas as pd
import os

In [2]:
df1 = pd.read_csv('ACTypes.csv')
df1.head()

   Code                                Description
0     7                         Aero Commander 200
1     8                          Aero Macchi AL-60
2     9                               Aeronca 7-AC
3    10  Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/  36A
4    20                            Bellanca CH-300

In [8]:

# Define a function to read a CSV file and join it with df1
def join_csv_with_df1(year, df1):
    # Read the CSV file
    csv_path = f'PaxData/{year}.csv'
    csv_df = pd.read_csv(csv_path)

    # Convert 'Code' and 'Type' columns to the same data type (e.g., string)
    df1['Code'] = df1['Code'].astype(str)
    csv_df['Type'] = csv_df['Type'].astype(str)

    # Join df1 with the CSV DataFrame on "Code" and "Type"
    merged_df = df1.merge(csv_df, left_on='Code', right_on='Type', how='left')

    return merged_df

# Initialize an empty DataFrame
merged_df = pd.DataFrame()

# Loop through the years from 1990 through 1999
for year in range(1990, 2023):
    # Call the function for each year and join the DataFrames
    year_df = join_csv_with_df1(year, df1)
    if merged_df.empty:
        merged_df = year_df
    else:
        # Merge the DataFrames horizontally
        merged_df = pd.concat([merged_df, year_df], axis=1)

# Remove duplicate "Code" and "Description" columns
merged_df = merged_df.loc[:, ~merged_df.columns.duplicated()]

merged_df.head()

,Code,Description,Type,pax_1990,pax_1991,pax_1992,pax_1993,pax_1994,pax_1995,pax_1996,...,pax_2013,pax_2014,pax_2015,pax_2016,pax_2017,pax_2018,pax_2019,pax_2020,pax_2021,pax_2022
0,7,Aero Commander 200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Aero Macchi AL-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,Aeronca 7-AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/ 36A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,933.0,943.0,517.0,640.0,571.0,487.0,511.0,134.0,22.0,NaN
4,20,Bellanca CH-300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
merged_df = merged_df.drop(columns=['Type'])

merged_df

,Code,Description,pax_1990,pax_1991,pax_1992,pax_1993,pax_1994,pax_1995,pax_1996,pax_1997,...,pax_2013,pax_2014,pax_2015,pax_2016,pax_2017,pax_2018,pax_2019,pax_2020,pax_2021,pax_2022
0,7,Aero Commander 200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Aero Macchi AL-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,9,Aeronca 7-AC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10,Beech Bonanza 35A/C/D/E/G/H/J/K/S/V/ 36A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,933.0,943.0,517.0,640.0,571.0,487.0,511.0,134.0,22.0,NaN
4,20,Bellanca CH-300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,887,B787-800 Dreamliner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,228905.0,266173.0,426251.0,517727.0,459765.0,517601.0,909852.0,526984.0,1125826.0,718324.0
429,888,Boeing 737-900ER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,4706724.0,10682602.0,20073676.0,25504670.0,51771769.0,60531218.0,21982120.0,43604763.0,53349249.0
430,889,B787-900 Dreamliner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,12203.0,127467.0,239304.0,215140.0,431896.0,599413.0,508595.0,1451565.0,1423517.0
431,890,Antonov 225 (6 Engine),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,999,Used for capturing expenses not attributed to ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
merged_df.to_csv('types_and_annual_pax2.csv', index=False)